<app-headeradmin></app-headeradmin>

<section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Cuentas
        </h2>
      </div>
      
      <table class="table table-hover mt-">
          <thead>
              <tr>
                  <td>Id</td> 
                  <td>Nombre </td>
                  <td>Apellido </td>
                  <td>Correo</td>
                  <td>Password</td>
              </tr>

          </thead>
          <tbody>
            <tr *ngFor="let cuenta of listCuentas">
                <td>{{ cuenta.id_Cuenta }}</td>
                <td>{{ cuenta.nombre_Cuenta }}</td>
                <td>{{ cuenta.apellido_Cuenta }}</td>
                <td>{{ cuenta.correo_Cuenta }}</td>
                <td>{{ cuenta.password_Cuenta }}</td>

                <td style="width: 10%">
                    <button (click)="deleteCuenta(cuenta.id_Cuenta)" class="btn btn-danger btn-sm float-end">Eliminar</button>
                </td>
            </tr>
          </tbody>
          <tfoot>
          </tfoot>
      </table>
    </div>
    <div class="btn-box" >
      <a  routerLink="admin/crearcuenta">
        Crear Cuenta
      </a>
    </div>
  </section>
  <!-- end food section -->